@model IEnumerable<WebApplication2.Models.employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.empid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deptid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.empid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ename)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PAN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.mobile)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.city)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.deptid)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.empid }) |
        @Html.ActionLink("Details", "Details", new { id = item.empid }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.empid })
    </td>
</tr>
}

</table>
